# MB2 Data Cleaning and Merging

In [3]:
library(tidyverse)
library(RStoolbox)
library(dplyr)

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.1     v dplyr   1.0.0
v tidyr   1.1.0     v stringr 1.4.0
v readr   1.3.1     v forcats 0.5.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [4]:
setwd("C:/Users/s1526/Dropbox/EAGLE_Assessments/MB3_Geoinfo/MB3_FINAL")

## 1. Data Cleaning

### 1.1. Read data

In [103]:
Chris_data <- read_csv(file.path("Data", "Chris_Samples", "Chris_Samples.csv"))
Antonio_data <- read_csv(file.path("Data", "Collection_Antonio", "samples_Antonio.csv"))
Diego_data <- read_csv(file.path("Data", "Collection_Diego", "collection_Diego.csv"))
Kevin_data <- read_csv(file.path("Data", "Collection_kevin", "Collection_kevin.csv"))
Lui_data <- read_csv(file.path("Data", "Luis_FieldSurvey", "Field Survey.csv"))
Nils_data <- read_csv(file.path("Data", "Nils_Point_images", "Nils_samples.csv"))
Jakob_data <- read_csv(file.path("Data", "Samples_Jakob", "Samples_Jakob.csv"))
KM_data <- read_csv(file.path("Data", "Samples_KM", "sample_KM.csv"))
Maurius_data <- read_csv(file.path("Data", "Samples_Maurius", "Samples_Marius.csv"))
Sofia_data <- read_csv(file.path("Data", "Samples_Sofia", "samples_Sofia.csv"))

Parsed with column specification:
cols(
  ID = col_double(),
  Latitude = col_double(),
  Longitude = col_double(),
  ClassID = col_character(),
  Class = col_character(),
  Name = col_character(),
  Note = col_character()
)

Parsed with column specification:
cols(
  ID = col_double(),
  latitude = col_double(),
  longitude = col_double(),
  ClassID = col_double(),
  Class = col_character(),
  Surveyor = col_character(),
  Notes = col_character()
)

Parsed with column specification:
cols(
  ID = col_double(),
  Latitude = col_double(),
  Longitude = col_double(),
  Class_id = col_double(),
  Notes = col_character(),
  Class = col_character(),
  DMS = col_character(),
  UTM = col_character(),
  MGRS = col_character(),
  Photo = col_double(),
  Comments = col_character()
)

Parsed with column specification:
cols(
  ID = col_double(),
  Latitude = col_double(),
  Longitude = col_double(),
  class_Id = col_double(),
  Notes = col_character(),
  DMS = col_character(),
  UTM = col_character(),
  MGRS = col_character(),
  CRS = col_character(),
  `Elevation(MSL)` = col_character(),
  Address = col_character(),
  `Date Record` = col_character(),
  `GPS Accuracy(m)` = col_character(),
  Photo = col_character()
)

Parsed with column specification:
cols(
  ID = col_double(),
  Latitude = col_double(),
  Longitude = col_double(),
  ClassID = col_double(),
  Class = col_character(),
  Name = col_character(),
  Notes = col_character()
)

Parsed with column specification:
cols(
  ID = col_double(),
  latitude = col_double(),
  longitude = col_double(),
  ClassID = col_double(),
  Class = col_character(),
  Surveyor = col_character(),
  Notes = col_character()
)

Parsed with column specification:
cols(
  ID = col_double(),
  Latitude = col_double(),
  Longitude = col_double(),
  `Class ID` = col_double(),
  Notes = col_character(),
  Class = col_character(),
  DMS = col_character(),
  UTM = col_character(),
  MGRS = col_character(),
  Photo = col_logical(),
  Comments = col_logical()
)

Parsed with column specification:
cols(
  ID = col_double(),
  latitude = col_double(),
  longitude = col_double(),
  class_id = col_double(),
  class_name = col_character(),
  Notes = col_character(),
  Surveyor = col_character()
)

Parsed with column specification:
cols(
  ID = col_double(),
  Latitude = col_double(),
  Longitude = col_double(),
  ClassID = col_double(),
  Class = col_character(),
  Name = col_character(),
  Notes = col_character()
)

Parsed with column specification:
cols(
  ID = col_double(),
  Latitude = col_double(),
  Longitude = col_double(),
  ClassID = col_double(),
  Class = col_character(),
  Surveyor = col_character(),
  Notes = col_character(),
  DMS = col_character(),
  UTM = col_character(),
  MGRS = col_character()
)

### 1.2.  Batch rename tables

Standard for dataframe names:

ID, Latitude, Longitude, Class_ID

In [104]:
colnames_vec <- c("ID", "Latitude", "Longitude", "Class_ID")

colnames_vec

[1] "ID"        "Latitude"  "Longitude" "Class_ID"

In [105]:
colnames(Chris_data)[1:4] <- colnames_vec
colnames(Antonio_data)[1:4] <- colnames_vec
colnames(Diego_data)[1:4] <- colnames_vec
colnames(Kevin_data)[1:4] <- colnames_vec
colnames(Lui_data)[1:4] <- colnames_vec
colnames(Nils_data)[1:4] <- colnames_vec
colnames(Jakob_data)[1:4] <- colnames_vec
colnames(KM_data)[1:4] <- colnames_vec
colnames(Maurius_data)[1:4] <- colnames_vec
colnames(Sofia_data)[1:4] <- colnames_vec

In [107]:
All_data <- list(Chris_data, Antonio_data, Diego_data, Kevin_data, Lui_data, Nils_data, Jakob_data, KM_data, Maurius_data, Sofia_data)

All_data[7]

[[1]]
# A tibble: 20 x 11
      ID Latitude Longitude Class_ID Notes Class DMS   UTM   MGRS  Photo
   <dbl>    <dbl>     <dbl>    <dbl> <chr> <chr> <chr> <chr> <chr> <lgl>
 1   136     49.8      9.97        1 JA    Buil~ 49° ~ 5701~ 32UN~ NA
 2    93     49.8      9.98        1 JA    Buil~ 49° ~ 5703~ 32UN~ NA
 3    88     49.8      9.98        1 JA    Buil~ 49° ~ 5701~ 32UN~ NA
 4    66     49.8      9.97        1 JA    Buil~ 49° ~ 5699~ 32UN~ NA
 5    42     49.8      9.98        1 JA    Buil~ 49° ~ 5702~ 32UN~ NA
 6    94     49.8      9.97        3 JA    Gras~ 49° ~ 5698~ 32UN~ NA
 7   117     49.8      9.97        1 JA    Buil~ 49° ~ 5700~ 32UN~ NA
 8    91     49.8      9.99        1 JA    Buil~ 49° ~ 5709~ 32UN~ NA
 9   141     49.8      9.98        1 JA    Buil~ 49° ~ 5703~ 32UN~ NA
10    60     49.8      9.97        3 JA    Gras~ 49° ~ 5696~ 32UN~ NA
11   129     49.8      9.98        1 JA    Buil~ 49° ~ 5702~ 32UN~ NA
12    63     49.8      9.97        3 JA    Gras~ 49° ~ 5698~ 32UN~ NA
13   120     49.8      9.98        1 JA    Buil~ 49° ~ 5705~ 32UN~ NA
14   184     49.8      9.98        1 JA    Buil~ 49° ~ 5704~ 32UN~ NA
15   122     49.8      9.98        1 JA    Buil~ 49° ~ 5702~ 32UN~ NA
16   111     49.8      9.97        3 JA    Gras~ 49° ~ 5696~ 32UN~ NA
17    92     49.8      9.99        1 JA    Buil~ 49° ~ 5709~ 32UN~ NA
18    65     49.8      9.97        1 JA    Buil~ 49° ~ 5699~ 32UN~ NA
19    75     49.8      9.97        1 JA    Buil~ 49° ~ 5696~ 32UN~ NA
20   119     49.8      9.98        1 JA    Buil~ 49° ~ 5705~ 32UN~ NA
# ... with 1 more variable: Comments <lgl>

## 2. Data Merging

### 2.1. Grepping 1st 4 cols of each dataframe

In [132]:
Merge_df <- if (colnames() = "ID", "Latitude", "Longitude", "Class_ID"){
    cbind(Chris_data, Antonio_data, Diego_data, Kevin_data, Lui_data, Nils_data, Jakob_data, KM_data, Maurius_data, Sofia_data)
}

head(Merge_df)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:28: unexpected '='
1: Merge_df <- if (colnames() =
                               ^